<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>284609037374-vmtvl67g3vasl6l2ujp21lm72hq7ib37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284609037374-vmtvl67g3vasl6l2ujp21lm72hq7ib37</string>
	<key>API_KEY</key>
	<string>AIzaSyCSWYjJLKdMruPQZbrjIZguyiNslJRLYXY</string>
	<key>GCM_SENDER_ID</key>
	<string>284609037374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.drewwestcott.Pomodoro-From-Tasks</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-from-tasks</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-from-tasks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:284609037374:ios:28a64bd1c52db046</string>
	<key>DATABASE_URL</key>
	<string>https://pomodoro-from-tasks.firebaseio.com</string>
</dict>
</plist>